.container-fluid{
    display:grid;
    margin-right:0px;
    margin-left:0px;
    width:100vw;
    height:100vh;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 0.16fr 0.839fr 0.001fr;
    grid-template-areas: 
        "topnav topnav"
        "sidenav main"
        "footer footer";
}
/*1*/
#topnav {
    background: #014181;
    grid-area: topnav;
}

/*2*/
.main {
    background: white;
    grid-area: main;
    
    overflow-x: scroll;
    overflow-y: scroll;
}

/*2.1*/
.pgtitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Verdana, Helvetica;
}

/*3*/
#sidenav{
    background: #014181;
    grid-area: sidenav;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px;
}

/*4*/
footer{
    background:white;
    grid-area: footer;
}

/*elements*/
BODY
{
    SCROLLBAR-FACE-COLOR: #80a6d0;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    SCROLLBAR-SHADOW-COLOR: #3044f1;
    COLOR: #333333;
    SCROLLBAR-3DLIGHT-COLOR: #d2eaff;
    SCROLLBAR-ARROW-COLOR: #3044f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    SCROLLBAR-BASE-COLOR: #80a6d0
}
P
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TD
{
    vertical-align: middle;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #0066ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
SELECT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
TEXTAREA
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.toptitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}

.toptxt
{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #014181
}
.toptxtbold
{
    padding-top: 0px;
    padding-bottom: 0px;
    BORDER-RIGHT: #3044f1;
    BORDER-TOP: #3044f1;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: #3044f1;
    COLOR: #ffffff;
    BORDER-BOTTOM: #3044f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #014181;
    TEXT-DECORATION: none
}
.toplink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffcc99;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.toplink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.toplink1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffcc99;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.toplink1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.sidebgcolor
{
    BACKGROUND-COLOR: #cccccc
}
.sidetitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.sidenavbuttons{
    padding:0px;
}
.sidetxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.sidetxtbold
{
    list-style-image: url('image/icn-4dot.gif');
    BORDER-RIGHT: #3044f1;
    BORDER-TOP: #3044f1;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #3044f1;
    COLOR: #ffffff;
    BORDER-BOTTOM: #3044f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #014181;
    TEXT-DECORATION: none
}
.overallList{
    width:150px;
    padding-left: 8px;
    list-style-image: url('image/icn-4dot.gif');
    BORDER-RIGHT: #3044f1;
    BORDER-TOP: #3044f1;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #3044f1;
    COLOR: #ffffff;
    BORDER-BOTTOM: #3044f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #014181;
    TEXT-DECORATION: none
}
.overallList li{
    padding-top: 0px;
    padding-bottom: 10px;
    word-wrap: break-word;
}
.subListOverall{
    list-style-image: url('image/icn-arrow-blue.gif');
    width:132px;
    padding-left: 10px;
}
.subListOverall li{
    padding-bottom: 0px;
    word-wrap: break-word;
}
.redText{
    color: red;
}
.sidelink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.sidelink:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.sidelinkbold
{
    BORDER-RIGHT: #3044f1;
    BORDER-TOP: #3044f1;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #3044f1;
    COLOR: #ffffff;
    BORDER-BOTTOM: #3044f1;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #014181;
    TEXT-DECORATION: none
}
.sidelinkbold:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}

.footxt
{
    padding:0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.footxt1
{
    padding:0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.footxtbold
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.footlink
{
    padding: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8px;
    COLOR: #003366;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.footlink:hover
{
    padding: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8px;
    COLOR: #ff6600;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.footlink1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.footlink1:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #ff6600;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.pgtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.pgdesc
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.pgdesc1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.pgdescbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.htitle1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003399;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.htitle2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #003399;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.htitle3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Arial, Verdana, Helvetica
}
.hlink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0066ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.hlink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff6b08;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.hlink1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.hlink1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffa508;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #009fe3
}
.title1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #f1f1f1
}
.tbltitle1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #cccccc
}
.tbltitle2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.tbltitle3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.tbltitle4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #fb9f50;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.tblbgcolor
{
    BACKGROUND-COLOR: #e3e3e3
}
.txt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.txtbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.txtboldr
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}

.txtboldE 
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
	background-color: #FF0000;
}

.txtsml
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.txtsmlbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.txtbox
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.txtboxr
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: right
}
.pricebox
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #990033;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.priceboxr
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #990033;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: right
}
.lista
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: lower-alpha
}
.listsq
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: square
}
.listdc
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: disc
}
.listcr
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: circle
}
.listdec
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: decimal
}
.listlr
{
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    LIST-STYLE-TYPE: lower-roman
}
.link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #0066ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.link:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff6b08;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.linkbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0066ff;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: underline
}
.linkbold:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff6b08;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.linksml
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #0066ff;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.linksmlbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff6b08;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.tophrcolor
{
    BACKGROUND-COLOR: #000000
}
.hrcolor
{
    BACKGROUND-COLOR: #cccccc
}
.price
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #990033;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.pricer
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #990033;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-ALIGN: right
}
.note
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.notebold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.comment
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #0066cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.commentbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #0066cc;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.errtbltitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: lightsalmon
}
.errtbltxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.errtblmsg
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #cc0009;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.errtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #cc0009;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.errmsg
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #cc0009;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.bluetxt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 16px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.bluetxtbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000066;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.btn
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #0066cc
}
.btn1
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #0066cc;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #ffffff
}
.btn2
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #ffffff;
    BORDER-BOTTOM: #000000 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #666666
}
.txtbigbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.warning
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    BORDER-LEFT: medium none;
    COLOR: #ff0000;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #b0c4de
}
.errmsg1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffff00;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
.AdvMsgtxtbold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: crimson;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    BACKGROUND-COLOR: #009fe3
}
.hrpage
{
    BACKGROUND-COLOR: #80a6d0
}
.hrtitle
{
    BACKGROUND-COLOR: lightsalmon
}

A.noLink 
{
    text-decoration:none; 
    color:black
}



*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    
    body {
     overflow: scroll;
     font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
     font-weight: 100;
     color: rgba(255, 255, 255, 1);
     margin: 0;
     padding: 0;
     background: #ffffff;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
    }
    
    #calendar {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 420px;
      margin: 0 auto;
      height: 630px;
      overflow: hidden;
    }
    
    .header {
      height: 50px;
      width: 420px;
      background: rgba(66, 66, 66, 1);
      text-align: center;
      position:relative;
      z-index: 100;
    }
    
    .header h1 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 50px;
      font-weight: 100;
      letter-spacing: 1px;
    }
    
    .left, .right {
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      top: 50%;
      margin-top: -7.5px;
      cursor: pointer;
    }
    
    .left {
      border-width: 7.5px 10px 7.5px 0;
      border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
      left: 20px;
    }
    
    .right {
      border-width: 7.5px 0 7.5px 10px;
      border-color: transparent transparent transparent rgba(160, 159, 160, 1);
      right: 20px;
    }
    
    .month {
      /*overflow: hidden;*/
      opacity: 0;
    }
    
    .month.new {
      -webkit-animation: fadeIn 1s ease-out;
      opacity: 1;
    }
    
    .month.in.next {
      -webkit-animation: moveFromTopFadeMonth .4s ease-out;
      -moz-animation: moveFromTopFadeMonth .4s ease-out;
      animation: moveFromTopFadeMonth .4s ease-out;
      opacity: 1;
    }
    
    .month.out.next {
      -webkit-animation: moveToTopFadeMonth .4s ease-in;
      -moz-animation: moveToTopFadeMonth .4s ease-in;
      animation: moveToTopFadeMonth .4s ease-in;
      opacity: 1;
    }
    
    .month.in.prev {
      -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
      -moz-animation: moveFromBottomFadeMonth .4s ease-out;
      animation: moveFromBottomFadeMonth .4s ease-out;
      opacity: 1;
    }
    
    .month.out.prev {
      -webkit-animation: moveToBottomFadeMonth .4s ease-in;
      -moz-animation: moveToBottomFadeMonth .4s ease-in;
      animation: moveToBottomFadeMonth .4s ease-in;
      opacity: 1;
    }
    
    .week {
     background: #4A4A4A;
    }
    
    .day {
      display: inline-block;
      width: 60px;
      padding: 10px;
      text-align: center;
      vertical-align: top;
      cursor: pointer;
      background: #4A4A4A;
      position: relative;
      z-index: 100;
    }
    
    .day.other {
     color: rgba(255, 255, 255, .3);
    }
    
    .day.today {
      color: rgba(156, 202, 235, 1);
    }
    
    .day-name {
      font-size: 9px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: rgba(255, 255, 255, .5);
      letter-spacing: .7px;
    }
    
    .day-number {
      font-size: 24px;
      letter-spacing: 1.5px;
    }
    
    
    .day .day-events {
      list-style: none;
      margin-top: 3px;
      text-align: center;
      height: 12px;
      line-height: 6px;
      overflow: hidden;
    }
    
    .day .day-events span {
      vertical-align: top;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 5px;
      height: 5px;
      line-height: 5px;
      margin: 0 1px;
    }
    
    .blue { background: rgba(156, 202, 235, 1); }
    .orange { background: rgba(247, 167, 0, 1); }
    .green { background: rgba(153, 198, 109, 1); }
    .yellow { background: rgba(249, 233, 0, 1); }
    
    .details {
      position: relative;
      width: 420px;
      height: 150px;
      background: rgba(164, 164, 164, 1);
      margin-top: 5px;
      border-radius: 4px;
    }
    
    .details.in {
      -webkit-animation: moveFromTopFade .5s ease both;
      -moz-animation: moveFromTopFade .5s ease both;
      animation: moveFromTopFade .5s ease both;
    }
    
    .details.out {
      -webkit-animation: moveToTopFade .5s ease both;
      -moz-animation: moveToTopFade .5s ease both;
      animation: moveToTopFade .5s ease both;
    }
    
    .arrow {
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -2px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
      transition: all 0.7s ease;
    }
    
    .events {
      height: 150px;
      padding: 7px 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    
    .events.in {
      -webkit-animation: fadeIn .3s ease both;
      -moz-animation: fadeIn .3s ease both;
      animation: fadeIn .3s ease both;
    }
    
    .events.in {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      animation-delay: .3s;
    }
    
    .details.out .events {
      -webkit-animation: fadeOutShrink .4s ease both;
      -moz-animation: fadeOutShink .4s ease both;
      animation: fadeOutShink .4s ease both;
    }
    
    .events.out {
      -webkit-animation: fadeOut .3s ease both;
      -moz-animation: fadeOut .3s ease both;
      animation: fadeOut .3s ease both;
    }
    
    .event {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: .5px;
      padding: 2px 16px;
      vertical-align: top;
    }
    
    .event.empty {
      color: #eee;
    }
    
    .event-category {
      height: 10px;
      width: 10px;
      display: inline-block;
      margin: 6px 0 0;
      vertical-align: top;
    }
    
    .event span {
      display: inline-block;
      padding: 0 0 0 7px;
    }
    
    .legend {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: rgba(60, 60, 60, 1);
      line-height: 30px;
    
    }
    
    .entry {
      position: relative;
      padding: 0 0 0 25px;
      font-size: 13px;
      display: inline-block;
      line-height: 30px;
      background: transparent;
    }
    
    .entry:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 5px;
      top: 12px;
      left: 14px;
    }
    
    .entry.blue:after { background: rgba(156, 202, 235, 1); }
    .entry.orange:after { background: rgba(247, 167, 0, 1); }
    .entry.green:after { background: rgba(153, 198, 109, 1); }
    .entry.yellow:after { background: rgba(249, 233, 0, 1); }
    
    /* Animations are cool!  */
    @-webkit-keyframes moveFromTopFade {
      from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveFromTopFade {
      from { height:0px; margin-top:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFade {
      to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveToTopFade {
      to { height:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveToTopFade {
      to { height:0px; transform: translateY(-100%); }
    }
    
    @-webkit-keyframes moveToTopFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveToTopFadeMonth {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    @keyframes moveToTopFadeMonth {
      to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes moveFromTopFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromTopFadeMonth {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromTopFadeMonth {
      from { opacity: 0; -moz-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    @keyframes moveToBottomFadeMonth {
      to { opacity: 0; -webkit-transform: translateY(30%); }
    }
    
    @-webkit-keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    @keyframes moveFromBottomFadeMonth {
      from { opacity: 0; -webkit-transform: translateY(-30%); }
    }
    
    @-webkit-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @-moz-keyframes fadeIn  {
      from { opacity: 0; }
    }
    @keyframes fadeIn  {
      from { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @-moz-keyframes fadeOut  {
      to { opacity: 0; }
    }
    @keyframes fadeOut  {
      to { opacity: 0; }
    }
    
    @-webkit-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @-moz-keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    @keyframes fadeOutShink  {
      to { opacity: 0; padding: 0px; height: 0px; }
    }
    